[Unit]
Description=HowRU api Service
After=multi-user.target network.target
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/opt/howru/www/api
ExecStart=/usr/bin/python /opt/howru/www/api/howru.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
