apiVersion: apps/v1
kind: Deployment
metadata:
  name: customapp-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customapp-demo
  template:
    metadata:
      labels:
        app: customapp-demo
    spec:
      containers:
        - name: customapp
          image: custapplication
          ports:
            - containerPort: 8099
            - containerPort: 9909
          volumeMounts:
            - name: almond-data
              mountPath: /opt/almond/data
      volumes:
        - name: almond-data
          hostPath:
            path: YOURUSER_HOME/almond_demo/data
            type: Directory
---
apiVersion: v1
kind: Service
metadata:
  name: customapp
spec:
  selector:
    app: customapp-demo
  ports:
    - port: 8099
      targetPort: 8099
    - port: 9909
      targetPort: 9909

