apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-demo
  template:
    metadata:
      labels:
        app: redis-demo
    spec:
      containers:
        - name: redis
          image: redisdemo
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: almond-data
              mountPath: /opt/almond/data
      volumes:
        - name: almond-data
          hostPath:
            path: YOURUSER_HOME/almond_demo/data
            type: Directory
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  selector:
    app: redis-demo
  ports:
    - port: 6379
      targetPort: 6379
